@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}

/* Fix for Leaflet Map Z-Index issue */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 0.5rem;
}
